.cont{
    width: 90%;
    padding: 30px 0;
    background-color: darksalmon;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 250px;
    height: 480px;
    background-color: #f1f1f1;
    margin: 10px;
    overflow: hidden;
    border-radius: 20px;
}

.box>img{
    width: 250px;
    border-radius: 20px;

}

.texts{
    width: 200px;
    height: 95px;
    overflow: hidden;
    margin: 0 auto;
}

.elipsis{
  width: 200px;
  height: 45px;
  white-space: wrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.texts>span{
    font-size: 20px;
    font-weight: 200;
    color: #808080;
}

.box .nike{
    transform: rotate(43deg);
    margin-left: 20px;
    transition: all 0.5s;
}

.box:hover .nike{
    margin: 0;
    transform: rotate(0deg); 
}

/* ------------------------------------------------------------ */

.button-48 {
  width: 150px;
  height: 40px;
  margin-top: 3px;
  appearance: none;
  background-color: #f1f1f1;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  opacity: 1;
  outline: 0;
  padding: 0.8em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0px);
}

.button-48:before {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #c5c5c5;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

/* ------------------------------------------------------------ */
